@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  font-size: 62.5%; /* To turn 1rem into 10px */
  --light-black-color: #393939;

  --shadow: 1px 2px 4px rgb(0 0 0 / 51%);
}

* {
  box-sizing: border-box;
}

p,
h1 {
  margin: 0;
}

body {
  font-family: montserrat, sans-serif, system-ui, -apple-system, "Segoe UI", "Open Sans", "Helvetica Neue";
  font-size: 1.6rem; /* To turn 1rem into 10px */
  height: 100vh;
  display: grid;
  grid-template-rows: max-content auto;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 3rem 4rem;
}

.card {
  position: relative;
  font-family: "Noto Sans";
  width: max-content;
  min-width: 38rem;
}
.card__condition {
  text-transform: capitalize;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
}
.card__city {
  margin: 0.5rem 0 1rem;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 3.5rem;
  letter-spacing: 0.1rem;
  font-weight: 800;
}
.card__degrees {
  font-size: 15rem;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  position: relative;
}
.card__details {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  position: absolute;
  border-left: 0.2rem solid rgb(148 134 134 / 50%);
  top: 45%;
  left: 22.5rem;
  height: 10rem;
  padding-left: 2.6rem;
  justify-content: space-between;
}
.details__feelsLike {
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 4rem;
}

.dailyContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.dailyContainer__dailyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin: 0 0 1.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  padding-left: 1rem;
}

.dailyCard__max {
  margin-bottom: 0.4rem;
  font-size: 3rem;
  font-weight: 700;
}

[alt="Condition"] {
  height: 64px;
}

.celsius::after {
  content: "째C";
  position: absolute;
  font-size: 0.5em;
  font-weight: 600;
}

.fahrenheit::after {
  content: "째F";
  position: absolute;
  font-size: 0.5em;
  font-weight: 600;
}

.celsius--big::after {
  position: absolute;
  top: 1.8rem;
  left: 17.3rem;
  content: "째C";
  font-size: 3rem;
}

.fahrenheit--big::after {
  position: absolute;
  top: 1.8rem;
  left: 17.3rem;
  content: "째F";
  font-size: 3rem;
}
